*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

:root {
  --dark-text: #333;
}

img {
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
p {
  margin-top: 0;
}

a {
  text-decoration: none;
}

hr {
  background-color: #333333;
  height: 1px;
}

.dark2 {
  color: #222222;
}

.dark3 {
  color: #333333;
}

.fas {
  margin: 0 0.5em;
}

.dark {
  --dark-overlay: rgba(0, 0, 0, 0.5);
  --light-bg-accent: #eee;
  --light-text: #eee;
  --mid-tone: #757575;
}

.myContainer {
  width: min(90%, 1400px);
  margin: 0 auto;
}

.extra {
  width: 100vw;
  height: 200px;
}

.title-1 {
  font-size: 1.3rem;
  font-weight: 700;
  letter-spacing: 2px;
}

.detail {
  font-weight: 700;
  text-size-adjust: 20px;
}
.detail a {
  color: #f6b05f;
}

.btn {
  font-weight: 700;
}

header#navigation {
  position: fixed;
  width: 100%;
  height: 3rem;
  z-index: 4;
  background-color: #222222;
}

.header-bg {
  position: fixed;
  bottom: 100%;
  width: 50vw;
  height: 100vh;
  right: 0;
  background: rgba(100, 100, 100, 0.85);
  transition: bottom 0.8s ease-out;
  z-index: 3;
}

.nav-toggle {
  background: none;
  border: none;
  display: inline-block;
  margin: 0 0 0 auto;
  width: 3rem;
  height: 3rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.nav-toggle:focus {
  outline: none;
}

.hamburger {
  position: relative;
}

.hamburger,
.hamburger::before,
.hamburger::after {
  display: block;
  width: 30px;
  height: 4px;
  background: var(--light-bg-accent, #333);
  border-radius: 5px;
}

.hamburger::before {
  position: absolute;
  content: "";
  transform: translateY(-8px);
}

.hamburger::after {
  position: absolute;
  content: "";
  transform: translateY(8px);
}

.nav-element {
  visibility: hidden;
  height: 0;
  text-align: right;
  opacity: 0;
  transition: all 0.2s ease-out;
}

.nav-list {
  margin: 0 0 0 auto;
  padding: 0;
}

.nav--visible {
  visibility: visible;
  height: auto;
  opacity: 1;
  transition: opacity 0.8s ease-out 0.8s;
}
.nav--visible .nav-item {
  margin-top: 0.5em;
}

.header-bg--visible {
  bottom: calc(-100vh + 100%);
  backdrop-filter: blur(5px);
  transition: bottom 0.8s ease-out, backdrop-filter 0s linear 0.8s;
}

.nav-item {
  display: block;
  width: auto;
}

.nav-link {
  position: relative;
  display: inline-block;
  width: auto;
  text-decoration: none;
  text-transform: uppercase;
  color: #ccc;
  font-weight: 700;
  padding: 0.5em;
}

.nav-link:active {
  color: #f3a143;
}

.nav-link:hover {
  color: #ccc;
  text-shadow: 0 0 1px rgba(243, 161, 67, 0.2);
  animation: hoverLink 0.8s ease-out forwards;
}
.nav-link:hover::before {
  position: absolute;
  content: "";
  right: 8px;
  bottom: 10%;
  width: calc(100% - 16px);
  height: 2px;
  background: linear-gradient(90deg, #f6b05f 0%, #f6b05f 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0) 100%);
  background-size: 400% 400%;
  animation: hoverLink 0.8s ease-out forwards;
}

@keyframes hoverLink {
  0% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 0%;
    color: #f6b05f;
  }
}
body {
  margin: 0;
  padding: 0;
  font-family: "poppins", sans-serif;
  color: #eee;
}
body#bg-img {
  min-height: 100vh;
  background: url("/images/background/cubes-2492010_1920.jpg"), rgba(0, 0, 0, 0.6);
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  background-blend-mode: overlay;
  overflow-x: hidden;
}

#start {
  height: 100vh;
  overflow-x: hidden;
}

.start-info {
  height: 100%;
  display: flex;
  flex-direction: column;
  text-align: left;
  font-weight: 600;
  color: #f6b05f;
}

.profile-left,
.profile-info {
  position: relative;
  flex: 0 0 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image-container {
  width: clamp(30vw, 200px, 300px);
  padding: 2em;
  border-radius: 1em;
}
.image-container .profile-image {
  position: relative;
  margin: 0 auto;
  width: 100%;
  padding-top: 100%;
  border-radius: 50%;
  background: transparent;
  box-shadow: 0 0 10px 4px #f3a143;
  background: url("/images/profile/IMG_smaller.jpg"), rgba(0, 0, 0, 0.1);
  background-blend-mode: multiply;
  background-size: cover;
}
.image-container .profile-image-name {
  font-size: 1rem;
  margin: 2em 0 0;
  line-height: 1;
  text-align: center;
}

.profile-left--start .image-container {
  background-color: rgba(20, 20, 20, 0.3);
  transition-property: background-color, backdrop-filter;
  transition-delay: 2s;
  backdrop-filter: blur(0);
}

.profile-info {
  font-size: 1rem;
}

.tl-text {
  display: inline-block;
}

.profile-info-header {
  text-align: center;
}

.profile-info-text {
  color: #ccc;
  background: transparent;
  overflow-y: hidden;
}

section#projects {
  position: relative;
  padding: 3rem 0;
}
section#projects::before {
  position: absolute;
  content: "";
  height: 100%;
  top: 0;
  left: 0;
  width: 100%;
  backdrop-filter: blur(5px);
  background-size: cover;
  margin: 0 auto;
}

.section-title {
  font-family: "poppins";
  font-weight: 700;
  font-size: 1.4rem;
  color: #ccc;
}

.projects-grid {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 3rem;
  margin-top: 3rem;
}
.projects-grid img {
  filter: brightness(0.9);
}

.project-item {
  border-radius: 1em;
  backdrop-filter: blur(0);
  background-color: #333333;
}
.project-item .project-info {
  border-radius: 1em;
}

.title {
  padding: 1rem;
  margin-bottom: 0;
  background-color: #222222;
  border-radius: 1rem 1rem 0 0;
  color: #f6b05f;
}

.project-info-stack {
  display: flex;
  justify-content: space-between;
}
.project-info-stack.title {
  color: gray;
  font-size: 1.3em;
  font-weight: 600;
  border-radius: 0;
}
.project-info-stack .links {
  flex: 0 0 auto;
}
.project-info-stack .links a {
  margin-left: 15px;
}
.project-info-stack .links .icons {
  font-size: 25px;
  color: #f6b05f;
  margin: 0;
}

.project-info-text {
  letter-spacing: 1px;
  line-height: 1.8;
  padding: 1rem;
}

@media screen and (min-width: 900px) {
  .nav-toggle,
.hamburger,
.header-bg {
    display: none;
  }

  .nav-element {
    visibility: visible;
    padding-left: 5%;
    width: min(50%, 700px);
    margin: 0.5em 0 0 auto;
    height: auto;
    opacity: 1;
  }

  .nav-list {
    display: flex;
    justify-content: space-between;
  }
  .nav-list .nav-item {
    width: auto;
  }

  .start-info {
    flex-direction: row;
    text-align: left;
  }
  .start-info::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 50vw;
    height: 100vh;
    background-color: rgba(20, 20, 20, 0.3);
    backdrop-filter: blur(15px);
    z-index: -1;
  }
  .start-info .profile-left {
    align-items: center;
  }
  .start-info .profile-info {
    padding-left: 5%;
  }
  .start-info .profile-info .profile-info-header {
    text-align: left;
  }
  .start-info .image-container {
    margin-left: -10%;
    width: min(50%, 250px);
  }
  .start-info .image-container .profile-image {
    background: url("/images/profile/IMG_small.jpg"), rgba(0, 0, 0, 0.1);
    background-size: cover;
  }
}

/*# sourceMappingURL=home.css.map */
